* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #d3d3d3;
    min-height: 100vh;
    overflow: hidden;
}

#scaleDiv {
    position: absolute;
    transform-origin: top left;
    width: 1918px;
    height: 993px;
    background-color: #e0e0e0;
    color: #e0e0e0;

    z-index: 0;
}

/* #region mainMenuDiv */

#mainMenuDiv h {
    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

#mainMenuDiv button {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 3px;

    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

#mainMenuDiv #playButton{
    top: 30%;
}

#mainMenuDiv #shopButton{
    top: 40%;
}

#mainMenuDiv #skillsButton{
    top: 50%;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

#mainMenuDiv #feedbackButton{
    top: 65%;
}

#mainMenuDiv button:hover{
    transform: scale(1.1) translate(-45%, -45%);
    background-color: rgb(130, 164, 221);
    border-color: rgb(13, 32, 70);
}

/* #endregion */

/* #region feedbackDiv */

#feedbackDiv h {

    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;

}

#feedbackDiv #feedbackBack {
    background-color: rgb(130, 158, 194);
    width: 30%;
    height: 60%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#feedbackDiv #feedbackBorder {
    background-color: rgb(81, 102, 128);
    width: 32%;
    height: 63.5%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -2;
}

#feedbackDiv button {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 24px;
    font-weight: 300;
    transition: .2s;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 3px;

    width: 5%;
    padding-top: 5px;
    padding-bottom: 5px;;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 74%;
    left: 40%;
    z-index: 1;
}

#feedbackDiv #feedbackSubmit {
    width: 10%;
    top: 74%;
    left: 50%;
}

#feedbackDiv #feedbackInput {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 24px;
    font-weight: 300;
    width: 25%;
    height: 30%;
    padding: 10px;
    border-radius: 10%;
    corner-shape: squircle;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 50%;
}

#feedbackDiv #feedbackInputUser {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 16px;
    font-weight: 300;
    width: 25%;
    height: 5%;
    padding: 10px;
    border-radius: 20%;
    corner-shape: squircle;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 67%;
    left: 50%;
}

#feedbackDiv button:hover{
    transform: scale(1.1) translate(-45%, -45%);
    background-color: rgb(130, 164, 221);
    border-color: rgb(13, 32, 70);
}

/* #endregion */

/* #region gameDiv */

#gameDiv button{
    position: relative;
    left: 10%;
}

#gameDiv #scoreDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 10%;
}

#gameDiv #coinsDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 10%;
}

#gameDiv #speedDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 19%;
    left: 10%;
}

#gameDiv #heartContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 22%;
}

#gameDiv #heart2 {
    margin-left: 15px;
}

#gameDiv #questList {
    color: black;
    font-size: 36px;
    font-weight: 350;

    position: absolute;
    transform: translate(-0%, -50%);
    top: 5%;
    left: 80%;
}

#gameDiv #gameCanvas {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    background-color: #e9e9e9;
}

#gameDiv .WASD {
    background-color: rgb(214, 214, 214);
    color: black;
    width: 100px;
    height: 100px;

    border-radius: 25%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 16%;
    z-index: 1;

    text-align:center;
    font-size: 32px;
}

#gameDiv #W {
    top: 64%;
}

#gameDiv #A {
    left: 10.2%;
}

#gameDiv #D {
    left: 21.8%;
}

#gameDiv .pressed {
    transform: scale(1.1)translate(-45%, -45%);
    background-color: rgb(207, 207, 207);
}

/* #endregion */

/* #region gameOverDiv */

#gameOverDiv h {
    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

#gameOverDiv #gameOverScoreDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
}

#gameOverDiv button {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 3px;

    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

#gameOverDiv button:hover{
    transform: scale(1.1) translate(-45%, -45%);
    background-color: rgb(130, 164, 221);
    border-color: rgb(13, 32, 70);
}

/* #endregion */

/* #region shopDiv */

#shopDiv h {

    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 50%;

}

#shopDiv #shopBack {
    background-color: rgb(130, 158, 194);
    width: 80%;
    height: 90%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#shopDiv #shopBorder {
    background-color: rgb(81, 102, 128);
    width: 82%;
    height: 93.5%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -2;
}

#shopDiv #shopMainMenuButton {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 3px;

    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 20%;
    z-index: 1;
}

#shopDiv #shopMainMenuButton:hover{
    transform: scale(1.1) translate(-45%, -45%);
    background-color: rgb(130, 164, 221);
    border-color: rgb(13, 32, 70);
}

#shopDiv #shopCoinsDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 80%;
}

#shopDiv .itemDiv {
    background-color: rgb(21, 69, 133);
    width: 210px;
    height: 210px;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 8px;
}

#shopDiv .itemSpan {
    background-color: rgb(71, 115, 165);
    width: 200px;
    height: 200px;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#shopDiv img {
    width: 80px;
    height: 80px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

#shopDiv p {
    color: black;
    font-size: 24px;
    font-weight: 450;
    white-space: nowrap;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 13%;
    left: 50%;
}

#shopDiv button {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 20px;
    font-weight: 350;
    transition: .2s;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 3px;

    width: 80%;
    padding-top: 0px;
    padding-bottom: 5px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
}

#shopDiv #sledButton {
    width: 10%;
    top: 20%;
    left: 43%;
}

#shopDiv #trailButton {
    width: 10%;
    top: 20%;
    left: 57%;
}

#shopDiv button:hover{
    transform: scale(1.1) translate(-45%, -45%);
    background-color: rgb(130, 164, 221);
    border-color: rgb(13, 32, 70);
}

#shopDiv #freeCoin {

    width: 10%;
    top: 7%;
    left: 50%;
}


#shopDiv #redArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 25%;
}

#shopDiv #greenArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 37.5%;
}

#shopDiv #blueArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
}

#shopDiv #orangeArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 62.5%;
}

#shopDiv #purpleArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 75%;
}

#shopDiv #redSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 25%;
}

#shopDiv #greenSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 37.5%;
}

#shopDiv #blueSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 50%;
}

#shopDiv #goldSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 62.5%;
}

#shopDiv #purpleSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 75%;
}

#shopDiv #duckSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 83%;
    left: 25%;
}








#shopDiv #redTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 25%;
}

#shopDiv #greenTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 37.5%;
}

#shopDiv #blueTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
}

#shopDiv #orangeTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 62.5%;
}

#shopDiv #purpleTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 75%;
}

#shopDiv #starTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 25%;
}

#shopDiv #heartTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 37.5%;
}

#shopDiv #duckTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 50%;
}


/* #endregion */
