* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geist Pixel', sans-serif;
}

body {
    background-color: #d3d3d3;
    min-height: 100vh;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scaleDiv {
    position: absolute;
    transform-origin: top left;
    width: 1918px;
    height: 993px;
    background-color: #e0e0e0;
    color: #e0e0e0;

    z-index: 0;
}

#gameDisabled {
    color: black;
    font-size: 48px;
    font-weight: 300;
    width: 80%;
    text-align: center;

    transform: translate(-50%, 0%);
    position: absolute;
    bottom: 50%;
    left: 50%;

    z-index: 999;
}

/* #region mainMenuDiv */

#mainMenuDiv h {
    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

#mainMenuDiv #titleImage {
    color: black;
    width: 20%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 49.5%;
}

#mainMenuDiv button {
    background-color: transparent;
    border: transparent;
    color: black;
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    width: 10%;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

#mainMenuDiv img {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 998;
}

#mainMenuDiv p {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: 999;
}

#mainMenuDiv #playButton {
    top: 30%;
}

#mainMenuDiv #shopButton {
    top: 40%;
}

#mainMenuDiv #logsButton {
    top: 60%;
}

#mainMenuDiv #upgradesButton{
    top: 50%;
}

#mainMenuDiv #feedbackButton{
    top: 70%;
}

#mainMenuDiv button:hover{
    transform: scale(1.1) translate(-45%, -45%);
    filter: brightness(80%)
}

#mainMenuDiv #versionIdentifier {
    color: black;
    font-size: 24px;
    font-weight: 400;

    position: absolute;
    transform: translate(0%, 0%);
    bottom: 1%;
    left: 1%;
}

#mainMenuDiv #tipDisplay {
    color: black;
    font-size: 24px;
    font-weight: 400;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -.5%;
    left: 50%;
}

#mainMenuDiv #signUpButton{
    left: 91.25%;
    top: 95.5%;
    width: 5%;
}

#mainMenuDiv #logInButton{
    left: 96.75%;
    top: 95.5%;
    width: 5%;
}

#mainMenuDiv .signLogButtonText {
    font-size: 17px;
    text-wrap: nowrap;
    position: absolute;
    transform: translate(-50%, 20%);
    z-index: 999;
}

#mainMenuDiv #accountDiv #signLogDiv{
    background-color: #d3d3d3;
    min-height: 150px;
    width: 10%;
    height: 15%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 3px;

    position: absolute;
    bottom: 7%;
    right: 1%;

    z-index: 5;
}

#mainMenuDiv #accountDiv #signLogSpan{
    background-color: #b6b6b6;
    min-height: 150px;
    width: 11%;
    height: 17%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 3px;

    
    position: absolute;
    bottom: 6%;
    right: .5%;

    z-index: 4;
}

#mainMenuDiv #accountDiv input{
    background-color: #d3d3d3;
    text-align: center;
    color: #000000;
    margin-top: 5px;
    width: 80%;


    position: relative;
    transform: translate(-50%, -50%);
    top: 20px;
    left: 50%;
}

#mainMenuDiv #accountDiv #forgotPassword{
    text-align: center;
    color: #614141;
    width: 90%;
    font-size: 12px;

    position: relative;
    transform: translate(-50%, -50%);
    top: 32px;
    left: 50%;
}

#mainMenuDiv #accountDiv #accountButton {
    left: 50%;
    top: 70%;
    font-size: 16px;
    width: 85%;
    height: 2%;
}

#mainMenuDiv #accountButton p {
    font-size: 17px;
    text-wrap: nowrap;
    position: absolute;
    transform: translate(-50%, 20%);
    z-index: 999;
}

#mainMenuDiv #userIdentifier {
    color: black;
    font-size: 24px;
    font-weight: 300;
    text-wrap: nowrap;

    position: absolute;
    bottom: 1%;
    left: 90%;
}

/* #endregion */

/* #region gameDiv */

#gameDiv button{
    position: relative;
    left: 10%;
}

#gameDiv #distanceDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    top: 7%;
    left: 2%;
}

#gameDiv #coinsDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    top: 21%;
    left: 2%;
}

#gameDiv #speedDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    top: 14%;
    left: 2%;
}

#gameDiv .hearts {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 10%;
}

#gameDiv #heart1 {
    left: 7%;
}

#gameDiv #heart3 {
    left: 13%;
}

#gameDiv .hearts {
    margin-right: 10px;
}

#gameDiv #activeQuestsTitle {
    color: black;
    font-size: 36px;
    font-weight: 350;

    position: absolute;
    transform: translate(-0%, -50%);
    top: 5%;
    left: 80%;
}

#gameCanvas {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -10;

    background-color: #e9e9e9;
}

#gameDiv .WASD {
    background-color: rgb(214, 214, 214);
    color: black;
    width: 100px;
    height: 100px;

    border-radius: 25%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 16%;
    z-index: 1;

    text-align:center;
    font-size: 32px;
}

#gameDiv #W {
    top: 64%;
}

#gameDiv #A {
    left: 10.2%;
}

#gameDiv #D {
    left: 21.8%;
}

#gameDiv .pressed {
    transform: scale(1.1)translate(-45%, -45%);
    background-color: rgb(207, 207, 207);
}

#gameDiv .redArea {
    background-color:rgb(248, 50, 50);
    opacity: .1;
}

#gameDiv #topHalfRed {
    width: 700px;
    height: 450px;

    position: absolute;
    transform: translate(-50%, 0%);
    top: 47px;
    left: 50%;
}

#gameDiv #bottomHalfRed {
    width: 700px;
    height: 450px;

    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 46px;
    left: 50%;
}

#gameDiv #topThirdRed {
    width: 700px;
    height: 300px;

    position: absolute;
    transform: translate(-50%, 0%);
    top: 46px;
    left: 50%;
}

#gameDiv #bottomThirdRed {
    width: 700px;
    height: 300px;

    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 46px;
    left: 50%;
}

/* #endregion */

/* #region Quests */

#questsDiv {
    color: #8d8d8d;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #d3d3d3;
    min-height: 0px;
    width: 25%;
    padding-bottom: 12px;

    border-radius: 20%;
    corner-shape: squircle;

    position: relative;
    top: 46px;
    left: 1374px;

    z-index: 5;
}

#questsDiv #questsTitle {
    color: black;
    font-size: 48px;
    font-weight: 450;

    position: relative;
    left: 170px;
}

#questsDiv #quest1 {
    background-color: #c5c3c3;
    color: #000000;
    min-height: 100px;
    width: 90%;
    padding-bottom: 30px;

    border-radius: 30%;
    corner-shape: squircle;

    position: relative;
    transform: translate(-50%);
    left: 50%;

    z-index: 5;
}

#questsDiv #quest2 {
    background-color: #c5c3c3;
    color: #000000;
    min-height: 100px;
    width: 90%;
    padding-bottom: 30px;

    border-radius: 30%;
    corner-shape: squircle;

    position: relative;
    transform: translate(-50%);
    left: 50%;

    z-index: 5;
}

#questsDiv #questInfo {
    font-size: 14.8px;
    font-weight: 350;

    position: relative;
    top: -10px;
    left: 30px;
    width: 90%;
}

#questsDiv .questTitle {
    font-size: 24px;
    font-weight: 450;

    position: relative;
    top: 20px;
    left: 30px;
    max-width: 300px;
}

#questsDiv .questExtra {
    font-size: 20px;
    font-weight: 350;

    position: relative;
    top: 25px;
    left: 50px;
    max-width: 320px;
}

#questsDiv .questReward {
    font-size: 20px;
    font-weight: 350;

    position: relative;
    top: 30px;
    left: 50px;
    max-width: 320px;
}

#questsDiv .questProgText {
    font-size: 20px;
    font-weight: 350;

    position: relative;
    top: 4px;
    left: 250px;
    max-width: 320px;
}

#questsDiv .questProgBar {
    background-color: #7c7c7c;
    width: 80%;
    height: 10px;
    left: 10%;
    overflow: hidden;

    border-radius: 40%;
    corner-shape: squircle;

    position: relative;
    top: 10px;
}

#questsDiv .questProgFill {
    background-color: #5aee35;
    width: 0%;
    height: 100%;

    border-radius: 30%;
    corner-shape: squircle;

    position: relative;
    transition: .5s;
}

#questsDiv .questButton {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    transition: .2s;

    width: 50px;
    height: 50px;

    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;
}

#questsDiv .questButton img {
    width: 100%;
}

#questsDiv .questButton:hover{
    transform: scale(1.1);
    filter: brightness(80%)
}


/* #endregion */

/* #region feedbackDiv */

#feedbackDiv h {

    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;

}

#feedbackDiv #feedbackBack {
    background-color: rgb(130, 158, 194);
    width: 30%;
    height: 60%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#feedbackDiv #feedbackBorder {
    background-color: rgb(81, 102, 128);
    width: 32%;
    height: 63.5%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -2;
}



#feedbackDiv button {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    width: 10%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 22.5%;
    left: 40%;
    z-index: 1;
}

#feedbackDiv button img {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 998;
}

#feedbackDiv button p {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: 999;
}


#logsDiv #logsMainMenuButton:hover{
    transform: scale(1.1) translate(-45%, -50%);
    filter: brightness(80%)
}

#feedbackDiv #feedbackMainMenuButton {
    width: 10%;
    top: 72%;
    left: 40%;
}

#feedbackDiv #feedbackSubmit {
    width: 10%;
    top: 72%;
    left: 50%;
}

#feedbackDiv #feedbackInput {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 24px;
    font-weight: 300;
    width: 25%;
    height: 30%;
    padding: 10px;
    border-radius: 10%;
    corner-shape: squircle;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 49%;
    left: 50%;
}

#feedbackDiv #feedbackInputUser {
    color: black;
    background-color: rgb(158, 186, 238);
    border-color: rgb(27, 53, 105);
    font-size: 13px;
    font-weight: 300;
    width: 25%;
    height: 5%;
    padding: 10px;
    border-radius: 20%;
    corner-shape: squircle;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 67%;
    left: 50%;
}

#feedbackDiv button:hover{
    transform: scale(1.1) translate(-45%, -45%);
    filter: brightness(80%)
}

/* #endregion */

/* #region upgradesDiv */

#upgradesBody{

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: fixed;
    background-color: rgb(128, 107, 177);
    min-height: 100vh;
    min-width: 100vw;
}

#upgradesDiv {

    position: relative;
    background-color: rgb(107, 84, 160);
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
}

#upgradesDiv .upgradeNode {

    background-color: rgb(112, 59, 211);
    border-color: rgb(103, 19, 182);
    border-width: 5px;
    border-style: solid;

    width: 75px;
    height: 75px;
    border-radius: 50%;


    position: fixed;
    transform: translate(-50%, -50%);
    
    z-index: 1;
    transition: .2s;
}

#upgradesDiv .upgradeNode:hover {
    transform: scale(1.2) translate(-40%, -40%);
    background-color: rgb(102, 38, 180);
    video{
        transform: scale(1.25) translate(-40%, -40%);
    }
}

#upgradesDiv .upgradeNode video {
    width: 60%;
    height: 60%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    transition: .4s;
}

#upgradesDiv #upgradesSvg {


    min-height: 100%;
    min-width: 100%;
    
    stroke: rgb(83, 22, 133);
    stroke-width: 3px;

    position: absolute;
    z-index: 0;
}


#upgradesDiv #upgradeHoverBack {
    color: #8970f8;
    background-color: #5c0b92;
    min-height: 0px;
    max-height: fit-content;
    min-width: 50px;
    max-width: 300px;

    border-radius: 25%;
    corner-shape: squircle;
    outline: 10px solid #43036d;

    position: fixed;

    pointer-events: none;
    z-index: 100;
    padding: 8px;
    padding-bottom: 12px;
}

#upgradesDiv #upgradeHoverBack p {
    text-align: center;
}

#upgradesDiv #upgradeHoverBack #upgradeTitle {
    font-size: 24px;
    font-weight: 500;
}

#upgradesDiv #upgradeHoverBack #upgradeDesc {
    padding-top: 8px;
    font-size: 18px;
    font-weight: 350;
}

#upgradesDiv #upgradeHoverBack #upgradeCost {
    padding-top: 8px;
    font-size: 18px;
    font-weight: 350;
}

#upgradesDiv #upgradesMainMenuButton {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    width: 10%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 2.5%;
    left: 6%;
    z-index: 1;
}

#upgradesDiv #upgradesMainMenuButton img {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 998;
}

#upgradesDiv #upgradesMainMenuButton p {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: 999;
}

#upgradesDiv #upgradesMainMenuButton:hover{
    transform: scale(1.1) translate(-45%, -45%);
}

#upgradesDiv #upgradesUPDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 6%;
}

#upgradesDiv .abilityKey {
    background-color: transparent;
    border-color: transparent;
    width: 100px;
    height: 100px;

    position: absolute;
    transition: .2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#upgradesDiv .abilityKey p {
    font-size: 24px;
    margin: 0;

    position: absolute;
    top: 10%;
    left: 15%;
}

#upgradesDiv .abilityImg {
    width: 50%;
    height: 50%;

    position: absolute;
    top: 35%;
    left: 30%;
}

#upgradesDiv .abilityKey:hover{
    transform: scale(1.1);
}

#upgradesDiv #EKey {
    top: 3%;
    right: 2%;
}

#upgradesDiv #QKey {
    top: 3%;
    right: 8%;
}

#upgradesDiv #QKeyName {
    font-size: 14px;

    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
}

#upgradesDiv #EKeyName {
    font-size: 14px;

    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
}

#upgradesDiv #maxActiveUpgrades {
    color: #000000;
    font-size: 24px;

    position: absolute;
    top: 15%;
    right: 2%;
}

video {
    pointer-events: none;
}

/* #endregion */

/* #region logsDiv */

#logsDiv h {

    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;

}

#logsDiv #logsBack {
    background-color: rgb(130, 158, 194);
    width: 575.391px;
    height: 595.797px;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#logsDiv #logsBorder {
    background-color: rgb(81, 102, 128);
    width: 32%;
    height: 63.5%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -2;
}

#logsDiv #logsMainMenuButton {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    width: 10%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 22.5%;
    left: 40%;
    z-index: 1;
}

#logsDiv #logsMainMenuButton img {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 998;
}

#logsDiv #logsMainMenuButton p {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: 999;
}


#logsDiv #logsMainMenuButton:hover{
    transform: scale(1.1) translate(-45%, -50%);
    filter: brightness(80%)
}

#logsDiv #logsList {
    box-sizing: border-box;
    list-style-type: none;
    color: black;
    position: relative;
    height: 90%;
    width: 100%;
    top: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 60px 40px 40px 0px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%);
    mask-image: linear-gradient(to bottom, transparent, black 15%);

    scrollbar-color: transparent transparent;
}

#logsDiv .logListVersion {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
    font-size: 32px;
    font-weight: 450;
    top: 20%;
    left: 10%;
}

#logsDiv .logListItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    margin-left: 20px;
}

/* #endregion */

/* #region gameOverDiv */

#gameOverDiv h {
    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

#gameOverDiv #gameOverPureDisplay {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 19.2%;
    left: 50%;
}

#gameOverDiv #gameOverdistanceDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
}

#gameOverDiv #gameOverspeedDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 32%;
    left: 50%;
}

#gameOverDiv #gameOverTimeDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 39%;
    left: 50%;
}

#gameOverDiv button {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 32px;
    font-weight: 300;
    transition: .2s;

    width: 10%;
    height: 5%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 50%;
    z-index: 1;
}

#gameOverDiv button img {
    width: 100%;
    height: 120%;
    position: absolute;
    transform: translate(-50%, -40%);
    z-index: 998;
}

#gameOverDiv button p {
    position: absolute;
    transform: translate(-50%, -40%);
    left: 50%;
    z-index: 999;
}


#gameOverDiv button:hover{
    transform: scale(1.1) translate(-45%, -50%);
    filter: brightness(80%)
}


/* #endregion */

/* #region shopDiv */

#shopDiv h {

    color: black;
    font-size: 64px;
    font-weight: 700;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 50%;

}

#shopDiv #shopBack {
    background-color: rgb(130, 158, 194);
    width: 80%;
    height: 90%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#shopDiv #shopBorder {
    background-color: rgb(81, 102, 128);
    width: 82%;
    height: 93.5%;

    border-radius: 20%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -2;
}

#shopDiv img {
    width: 80px;
    height: 80px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

#shopDiv #shopMainMenuButton {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 32px;
    font-weight: 300;
    transition: .2s;
    width: 10%;;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 20%;
    z-index: 1;
}


#shopDiv #shopMainMenuButton img {
    width: 100%;

    position: absolute;
    transform: translate(-50%, -50%);
}

#shopDiv #shopMainMenuButton p {
    font-size: 42px;

    position: absolute;
    z-index: 999;
}


#shopDiv #shopMainMenuButton:hover{
    transform: scale(1.1) translate(-45.5%, -45.5%);
    filter: brightness(80%);
}

#shopDiv #shopCoinsDisplay {
    color: black;
    font-size: 48px;
    font-weight: 350;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 12%;
    left: 80%;
}

#shopDiv .itemDiv {
    background-color: rgb(21, 69, 133);
    width: 210px;
    height: 210px;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 8px;
}

#shopDiv .itemSpan {
    background-color: rgb(71, 115, 165);
    width: 200px;
    height: 200px;

    border-radius: 50%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}



#shopDiv video {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}


#shopDiv p {
    color: black;
    font-size: 24px;
    font-weight: 450;
    white-space: nowrap;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 13%;
    left: 50%;
}

#shopDiv button {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    font-weight: 350;
    transition: .2s;

    width: 80%;
    padding-top: 0px;
    padding-bottom: 5px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
}

#shopDiv .sledButton {
    top: 75%;
    height: 3%;
    left: 50%;
    width: 90%;

    position: relative;
    transform: translate(-50%, 0%);
}

#shopDiv .sledButton img {
    width: 80%;
    height: 800%;

    position: absolute;
    transform: translate(-50%, -25%);
}

#shopDiv .sledButton p {
    top: 8px;
    z-index: 999;

    position: relative;
    transform: translate(-50%, -50%);
}

#shopDiv .sledButton:hover{
    transform: scale(1.1) translate(-45.5%, -020%);
    filter: brightness(80%);
}

#shopDiv #sledButton {
    top: 20%;
    height: 3%;
    left: 43%;
    width: 12%;

    position: absolute;
    transform: translate(-50%, -50%);
}

#shopDiv #sledButton img {
    width: 100%;
    height: 200%;

    position: relative;
    transform: translate(-50%, -50%);
}

#shopDiv #sledButton p {
    top: 5px;
    z-index: 999;
}

#shopDiv #sledButton:hover{
    transform: scale(1.1) translate(-45%, -45%);
    filter: brightness(80%);
}

#shopDiv .trailButton {
    top: 75%;
    height: 3%;
    left: 50%;
    width: 90%;

    position: relative;
    transform: translate(-50%, 0%);
}

#shopDiv .trailButton img {
    width: 80%;
    height: 800%;

    position: absolute;
    transform: translate(-50%, -25%);
}

#shopDiv .trailButton p {
    top: 8px;
    z-index: 999;

    position: relative;
    transform: translate(-50%, -50%);
}

#shopDiv .trailButton:hover{
    transform: scale(1.1) translate(-45.5%, -020%);
    filter: brightness(80%);
}

#shopDiv #trailButton {
    top: 20%;
    height: 3%;
    left: 57%;
    width: 12%;

    position: absolute;
    transform: translate(-50%, -50%);
}

#shopDiv #trailButton img {
    width: 100%;
    height: 200%;

    position: relative;
    transform: translate(-50%, -50%);
}

#shopDiv #trailButton p {
    top: 5px;
    z-index: 999;
}

#shopDiv #trailButton:hover{
    transform: scale(1.1) translate(-45%, -45%);
    filter: brightness(80%);
}

#shopDiv #freeCoin {

    width: 10%;
    top: 7%;
    left: 50%;
}


#shopDiv #redArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 25%;
}

#shopDiv #greenArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 37.5%;
}

#shopDiv #blueArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
}

#shopDiv #orangeArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 62.5%;
}

#shopDiv #purpleArrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 75%;
}

#shopDiv #redSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 25%;
}

#shopDiv #greenSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 37.5%;
}

#shopDiv #blueSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 50%;
}

#shopDiv #goldSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 62.5%;
}

#shopDiv #purpleSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 75%;
}

#shopDiv #duckSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 83%;
    left: 25%;
}

#shopDiv #penguinSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 83%;
    left: 37.5%;
}

#shopDiv #sharkSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 83%;
    left: 50%;
}

#shopDiv #sunFishSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 83%;
    left: 62.5%;
}

#shopDiv #subwaySurfersSled {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 83%;
    left: 75%;
}






#shopDiv #redTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 25%;
}

#shopDiv #greenTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 37.5%;
}

#shopDiv #blueTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
}

#shopDiv #orangeTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 62.5%;
}

#shopDiv #purpleTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 75%;
}

#shopDiv #starTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 25%;
}

#shopDiv #heartTrailTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 37.5%;
}

#shopDiv #duckTrail {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 59%;
    left: 50%;
}


/* #endregion */

/* #region Mobile */

@media (pointer: coarse) and (hover: none){

#gameDiv .WASD {
    background-color: rgb(214, 214, 214);
    color: black;
    width: 200px;
    height: 200px;

    border-radius: 25%;
    corner-shape: squircle;
    border-width: 8px;

    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    z-index: 1;

    text-align:center;
    font-size: 32px;
}

#gameDiv #W {
    top: 60%;
    left: 85%
}

#gameDiv #A {
    top: 70.5%;
    left: 10%;
}

#gameDiv #S {
    top: 81%;
    left: 85%
}

#gameDiv #D {
    top: 70.5%;
    left: 21%;
}

#gameDiv .pressed {
    transform: scale(1.1)translate(-45%, -45%);
    background-color: rgb(207, 207, 207);
}

}

/* #endregion */

